     
h1{color:red}

h2{color:gray }

main{background-color:gray; font-style: oblique;}
   
ul {color:gray; text-align: center;}

body{background-color: black; border:0;}

header h2{color:black}

figcaption{width: 75%; float:right; color:black; font-style: oblique;}

figure header {color: black}

footer {color:red}








    

