h1{ text-align: center;
     color: brown} 

 h2 {
    color: brown;
 }    

.vendedores {
    color: brown;
  border-bottom: brown solid 2px;
}

table{
    width: 100%;

    border-collapse: collapse;
}

.dados{ 
    color: brown;
  font-style: italic;
  text-align: center;
}

.totalvendedores {
    color: brown;
    text-align: center;
}

.geralliquido{
    background-color: #F4A460; 
    text-align: center;
}

.numeros{
    text-align: center;
}
